<div id="ar">
<table class="table">

  <tbody>
    <tr>
      <th scope="row">A/R Aging Summary</th>
      <td><input type="text"></td>
      <th>Billing Content</th>
      <td><input type="text"></td>
   
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td><input type="text"></td>
      <th>Telephone 1</th>
      <td><input type="text"></td>
      <th>Ext.</th>
      <td><input type="text"></td>

    </tr>
    <tr>
      <th scope="row">Address</th>
      <td><input type="text"></td>
      <th>Fax Number</th>
      <td><input type="text"></td>
      <th>Ext.</th>
      <td><input type="text"></td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td><input type="text"></td>
      <th>Email Address</th>
      <td><input type="text"></td>
    </tr>
    <tr>
      <th scope="row">Country</th>
      <td><input type="text"></td>
      <th>Company Code</th>
      <td><input type="text"></td>
    </tr>
    <tr>
      <th scope="row">Credit Horizon Date</th>
      <td><input type="text"></td>
      <th>Currency</th>
      <td><input type="text"></td>
    </tr>
  </tbody>
</table>
</div>