<div id="CI">
<p id="P1">
  Customer Information
</p>

  <form id="F1">
    <div class="form-group row form-group2">
      <label for="inputPassword" class="col-sm-2 col-form-label">Customer</label>
      <div class="col-sm-10">
        <input  class="form-control" id="inputPassword" >
      </div>
    </div>
    <div class="form-group row form-group2">
      <label for="inputPassword15" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input  class="form-control" id="inputPassword15" >
      </div>
    </div>
    <div class="form-group row form-group2">
        <label for="inputPassword" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <input  class="form-control" id="inputPassword16" >
        </div>
    </div>
    <div class="form-group row form-group2">
      <label for="inputPassword15" class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input  class="form-control" id="inputPassword17" >
      </div>
    </div>
    <div class="form-group row form-group2">
        <label for="inputPassword15" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
          <input  class="form-control" id="inputPassword18" >
        </div>
      </div>
    <div class="form-group row form-group7">
      <label for="exampleFormControlInput1" class="col-sm-2 col-form-label" id="label1">Credit Horizon Date</label>
      <div class="col-sm-10">
        <input  class="form-control" id="exampleFormControlInput1" >
      </div>
    </div>

  </form>



<form id="F2">
    <div class="form-group row form-group3" id="F2Start">
      <label for="exampleFormControlInput1" class="col-sm-2 col-form-label" id="label2">Billing Contact</label>
      <div class="col-sm-10" id="dWidth">
        <input  class="form-control" id="inputPassword19" >
      </div>
    </div>
  
  <div class="form-group row dNone form-group3">
    <label for="inputPassword3" class="col-sm-2 col-form-label mUp">Telephone 1</label>
    <div class="col-sm-10">
      <input class="form-control cWidth inputPassword20" id="inputPassword20" >
    </div>
  </div>
  <div class="form-group row dNone form-group3" >
    <label for="inputEmail3" class="col-sm-2 col-form-label mUp">Fax Num.</label>
    <div class="col-sm-10">
      <input  class="form-control cWidth inputPassword20" id="inputEmail3" >
    </div>
 
  </div>
  <div class="form-group row dNone form-group4">
    <label for="inputPassword3" class="col-sm-2 col-form-label mUp">E-mail Address</label>
    <div class="col-sm-10">
      <input type="email" class="form-control cWidth inputPassword20" id="inputPassword3" >
    </div>
  </div>
  <div class="form-group row dNone form-group5" >
    <label for="inputEmail3" class="col-sm-2 col-form-label mUp">Company Code</label>
    <div class="col-sm-10">
      <input  class="form-control cWidth inputPassword20" id="inputEmail3" >
    </div>
 
  </div>
  <div class="form-group row dNone form-group3" id="currencyDiv">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Currency</label>
    <div class="col-sm-10">
      <input class="form-control cWidth inputPassword20" id="inputPassword3" >
    </div>
  </div>

</form>

<form id="F3">
  <div class="form-group row dNone" id="fgr1">
    <label for="inputEmail3" class="col-sm-2 col-form-label" id="l1">Ext.</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputEmail4" >
    </div>
 
  </div>
  <div class="form-group row dNone" id="fgr2">
    <label for="inputEmail3" class="col-sm-2 col-form-label" id="l2">Ext.</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputEmail5" >
    </div>
 
  </div>

</form>

<form id="F4">
    <p id="ar">A/R Aging Summary</p>

  <div class="form-group row form-group6">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="tb">Total Balance</label>
    <div class="col-sm-10">
      <input class="form-control2" id="inputPassword24" class="inputPassword23 ">
    </div>
  </div>
  <div class="form-group row form-group6">
      <label for="inputPassword3" class="col-sm-2 col-form-label" id="lCurrent">Current</label>
      <div class="col-sm-10">
        <input class="form-control2" id="inputPassword24" class="inputPassword23">
      </div>
    </div>
  <div class="form-group row form-group6" >
    <label for="inputEmail3" class="col-sm-2 col-form-label mUp1">1-30</label>
    <div class="col-sm-10">
      <input  class="form-control2" id="inputEmail3" class="inputPassword23 " >
    </div>
 
  </div>
  <div class="form-group row form-group6">
    <label for="inputPassword3" class="col-sm-2 col-form-label mUp2" id="l31-60">31-60</label>
    <div class="col-sm-10">
      <input class="form-control2"  class="inputPassword23 ">
    </div>
  </div>
  <div class="form-group row form-group6" >
    <label for="inputEmail3" class="col-sm-2 col-form-label mUp2" id="l61-90">61-90</label>
    <div class="col-sm-10">
      <input  class="form-control2" id="inputEmail3" class="inputPassword23 " >
    </div>
 
  </div>
  <div class="form-group row form-group6">
    <label for="inputPassword3" class="col-sm-2 col-form-label mUp2" id="l91-120">91-120</label>
    <div class="col-sm-10">
      <input class="form-control2" id="inputPassword3" class="inputPassword23 ">
    </div>
  </div>
  <div class="form-group row form-group6">
      <label for="inputPassword3" class="col-sm-2 col-form-label mUp2" id="lO120">Over 120</label>
      <div class="col-sm-10">
        <input class="form-control2" id="inputPassword3" class="inputPassword23 ">
      </div>
  </div>
  <div class="form-group row form-group6">
      <label for="inputPassword3" class="col-sm-2 col-form-label mUp3" id="lOpenDeductions">Open Deductions</label>
      <div class="col-sm-10" id="inputPassword6">
        <input class="form-control2" class="inputPassword23">
      </div>
  </div>
  <div class="form-group row form-group6">
      <label for="inputPassword3" class="col-sm-2 col-form-label" >On Account Payments</label>
      <div class="col-sm-10" id="inputPassword7">
        <input class="form-control2" class="inputPassword23" >
      </div>
  </div>


</form>

<form id="F5">
    
    
    <form id="F7">
        <div class="col-auto">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
              <label class="form-check-label" for="autoSizingCheck">
                Credit Limit
              </label>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
              <label class="form-check-label" for="autoSizingCheck">
                Document Value
              </label>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
              <label class="form-check-label" for="autoSizingCheck">
                Payment Terms
              </label>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
              <label class="form-check-label" for="autoSizingCheck">
                Next Review Date
              </label>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
              <label class="form-check-label" for="autoSizingCheck">
                Oldest Open Items
              </label>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
              <label class="form-check-label" for="autoSizingCheck">
                Oldest Open Items
              </label>
            </div>
        </div>

    </form>


</form>


<form id="F6">
    <p id="eb">Exposure Breakdown</p>

  <div class="form-group row form-group6">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="tb">Credit Limit</label>
    <div class="col-sm-10">
      <input class="form-control2 inputPassword23" id="inputPassword3" >
    </div>
  </div>
  <div class="form-group row form-group6">
      <label for="inputPassword3" class="col-sm-2 col-form-label" id="cla">Credit Limit Available</label>
      <div class="col-sm-10">
        <input class="form-control2 inputPassword23" id="inputPassword8" >
      </div>
    </div>
  <div class="form-group row form-group6" >
    <label for="inputEmail3" class="col-sm-2 col-form-label">Credit Exposure</label>
    <div class="col-sm-10">
      <input  class="form-control2 inputPassword23" id="inputEmail3" id="inputPassword9">
    </div>
 
  </div>
  <div class="form-group row form-group6">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="lOpenAR">Open A/R</label>
    <div class="col-sm-10">
      <input type="email" class="form-control2 inputPassword23" id="inputPassword10" >
    </div>
  </div>
  <div class="form-group row form-group6" >
    <label for="inputEmail3" class="col-sm-2 col-form-label">Open Orders</label>
    <div class="col-sm-10">
      <input  class="form-control2 inputPassword23" id="inputPassword11" >
    </div>
 
  </div>
  <div class="form-group row form-group6">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Deliveries (Open)</label>
    <div class="col-sm-10">
      <input class="form-control2 inputPassword23" id="inputPassword12" >
    </div>
  </div>
  <div class="form-group row form-group6">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Billing (Open)</label>
      <div class="col-sm-10">
        <input class="form-control2 inputPassword23"  id="inputPassword13" >
      </div>
  </div>
  <div class="form-group row form-group6">
      <label for="inputPassword3" class="col-sm-2 col-form-label" >Orders (Blocked)</label>
      <div class="col-sm-10" id="inputPassword14">
        <input class="form-control2 inputPassword23"  >
      </div>
  </div>
  <div class="form-group row form-group6">
      <label for="inputPassword3" class="col-sm-2 col-form-label" >Orders (Released)</label>
      <div class="col-sm-10" id="inputPassword7">
        <input class="form-control2 inputPassword23"  >
      </div>
  </div>


</form>

<form id="F8">
    <p id="id">Internal Data</p>

  <div class="form-group row form-group6">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="tb">Total Balance</label>
    <div class="col-sm-10">
      <input class="form-control2 inputPassword25" id="inputPassword3" >
    </div>
  </div>
 

</form>

<form id="F9">
    <p id="id2">Internal Data</p>

  <div class="form-group row form-group6">
    <label for="inputPassword3" class="col-sm-2 col-form-label" id="tb">Total Balance</label>
    <div class="col-sm-10">
      <input class="form-control2 inputPassword25" id="inputPassword3" >
    </div>
  </div>
  

</form>

</div>
<!-- <app-risk-info></app-risk-info> -->