<app-banner></app-banner>
<div id="body">

<div id="CSVBoard">
<h2 id="csv"><i>Consolidated Summary View - Customer 8798798</i></h2>
<!-- <div class="btn-group btn-group-lg" role="group" aria-label="...">...</div> -->
<div class="btn-group" id="btnGroup" role="group" aria-label="...">    
    
  <button type="button" class="btn btn-secondary" id="B1">FI Line Items</button>
  <button type="button" class="btn btn-secondary">Worklist</button>
  <button type="button" class="btn btn-secondary">Collection Notes</button>
  <button type="button" class="btn btn-secondary">Credit Case</button>
  <button type="button" class="btn btn-secondary">BP</button>
  <button type="button" class="btn btn-secondary">Disput Mgt</button>
  <button type="button" class="btn btn-secondary">Refresh</button>
  <button type="button" class="btn btn-secondary">Coll Strategy</button>
  <button type="button" class="btn btn-secondary">Credit Limit Changes</button>
  <button type="button" class="btn btn-secondary">Open Order</button>
  <button type="button" class="btn btn-secondary" id="bCC">Credit Check</button>
  <!-- <button type="button" class="btn btn-secondary">4</button> -->
</div>
<!-- <app-customer-info></app-customer-info> -->
<!-- <app-ar></app-ar> -->
<!-- <app-aging-summary></app-aging-summary> -->

</div>
<!-- <div class="btn-group btn-group-sm" role="group" aria-label="...">...</div> -->
</div>
<div id="info">
<app-customer-info2></app-customer-info2>
</div>