<div class="btn-group-vertical" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" id="btn1">Configurator</button>
  <button type="button" class="btn btn-secondary" id="btn2">Vendor Dash Board</button>
  <a routerLink="/dashboard" role="button" class="btn btn-secondary" id="btn3">Customer Dash Board</a>
  <button type="button" class="btn btn-secondary" id="btn4">Custom Reports</button>
</div>

<div class="btn-group-vertical" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" id="btn5">Cash and Liquidity Forecast</button>
  <button type="button" class="btn btn-secondary" id="btn6">Vendor Consolidated Services</button>
  <a routerLink="/consolidatedscreens" role="button" class="btn btn-secondary" id="btn7">Customer Consolidated Services</a>

</div>