#rInfo{
    float: right;
    position: relative;
    bottom: 362px;
    right: 0px;
    /* border: 2px solid blue; */
    border-right: none;
    padding: 10px;
    padding-left: 0px;
    padding-right: 1px;
    background-color: #DEEAF6;
    width: 20%;
}
ul{
    list-style-type: none;
    margin-right: 25px;
}
li{
    margin-right: 20px;
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
}
p{
    width: 100%;
    padding-left: 2px;
    background-color: #C1D8EE;
}