<div id="rInfo">
  <p>Risk Info</p>
  <ul>
    <li>Risk Class</li>
    <li>Checking Rule</li>
    <li>Credit Score</li>
    <li>Credit Review Date</li>
    <li>Blocked Indicator</li>
    <li>Last Invoice</li>
    <li>Credit Rating</li>
    <li>Date of Credit Rating</li>
    <li>Personal Guarantee</li>
    <li>Credit Collateral</li>
    <li>Letter of Credit</li>
  </ul>
  <p>AR Activites</p>
  <ul>
    <li>AR Sales</li>
    <li>Write-offs</li>
    <li>Finance Credits</li>
    <li>Cash Application</li>
    <li>Other Activity</li>
  </ul>


</div>

