/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    /* height: 2000px; */
    overflow-x: hidden;
    /* background-color: green; */
}

.table{
    padding-bottom: 0px !important;
}

#csv{
    margin-left: 0px !important;
}

