#body{
    width: 100%;
    height: 100%;
    /* background-color: #E9F0F8; */
    /* border: 1px #7E8E9B solid; */
}
#blackBackground{
    background-color: black;
    /* height: 100px; */
}
#logo{
    float: right;
}
.fRight{
    float: right;
}
#wellC{
    position: relative;
    bottom: 25px;
}
img{
    width: 6%;
    position: relative;
    bottom: 52px;
}
h2{
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    /* font-weight: bold; */
}
#buttons{
    padding-left: 10px;
    padding-right: 10px;
    margin-block-start: 15px;
    border-bottom: 1px solid blue;
    padding-bottom: 5px;
    background-color: black;
    
}
#search{
    border-radius: 0%;
    width: 175px;
    /* margin-right: 30px; */
}
#btn5, #btn6, #btn9{
    background-color: #FFEEA8;
    color: purple;
}
.btn-toolbar{
    display: inline;
}
#btn6{
    margin-left: 10px;
}
input{
    height:39px;
    margin-right: 40px;
    width: 500px;
    /* position: relative;
    bottom: 2px; */
}
#btn3{
    margin-left: 10px;
    color: skyblue;
    padding-left: 6px;
    padding-right: 6px;
    /* padding: 0px; */
    /* width: 200px;
    height: 200%; */
}
#btn5{
    color: skyblue;
}
input, #search{
    float: right;
}
#at{
    margin-top: 15px;
}
#btn9{
    float: right !important;
}
#I10{
    color: skyblue;
    /* width: 150%; */
}
#btn7, #btn9, #btn10, #tal, #tal3{
    margin-left: 10px;
}
#tal2{
    margin-left: 30px;
    color: red;
    /* font-weight: normal; */
}
.thead-light{
    background-color: #D0D4DD;
}
tbody, tr{
    text-align: right;
}
th{
    border-right: 1px solid black;
    /* text-align: left; */
}
.table{
    padding-bottom: 0px;
}
#view{
    text-align: left;
}
.tal{
    text-align: left;

}

.red{
    font-weight: normal;
    color: red;
    padding-left: 25px;
    /* font-family: 'Times New Roman', Times, serif; */
}
.plusSign{
    color: green;
    background-color: white;
}
.minusSign{
    color: red;
    background-color: white;
    margin-left: 15px;
}
/* #binoculars{
    width: 200%;
    height: 200%;
} */