#body{
    width: 100%;
    height: 100%;
    /* background-color: #E9F0F8; */
    border: 1px #7E8E9B solid;
}
#tHeading{
    padding-top: 10px;
    /* width: 75%; */
    /* text-align: center; */
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: blue;
    color: white;
    margin-bottom: 0px;
}
#currency{
    border-right: none;
}
.table{
    margin: 70px auto;
    border: 2px solid blue;
    width: 75%;
}
#view{
    /* border-left: 2px solid blue; */
}
table{
    /* margin: 0px auto; */
    /* border: 2px solid blue; */
    width: 100%;
}
h2{
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    /* font-weight: bold; */
}
#buttons{
    margin-left: 10px;
}
#search{
    border-radius: 0%;
    width: 175px;
    position: relative;
    bottom: 42px;
    /* margin-right: 30px; */
}
#btn5, #btn9{
    background-color: #FFEEA8;
    color: purple;
}
.btn-toolbar{
    display: inline;
}
#br1{
    margin-top: 0px;
}
.br{
    background-color: white;
}
#td1, #td2, #td3, #td4, #td5{
    position: relative;
    bottom: 25px;
}
#br1{
    position: relative;
    top: 50px;
}
.collapsed{
    margin-top: 0px;
    color: red;
}
input{
    height:37px;
    margin-right: 5px;
    width: 500px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    bottom: 42px;
}
.hidden{
    display: none;
}
#btn3{
    margin-left: 10px;
    color: skyblue;
    padding-left: 6px;
    padding-right: 6px;
    /* padding: 0px; */
    /* width: 200px;
    height: 200%; */
}
#btn5{
    color: skyblue;
}
input, #search{
    float: right;
}
#btn9{
    float: right !important;
}
#I10{
    color: skyblue;
    /* width: 150%; */
}
#btn7, #btn9, #btn10, #tal, #tal3{
    margin-left: 10px;
}
#tal2{
    margin-left: 30px;
    margin-bottom: 0px;
    /* color: purple; */
    /* font-weight: normal; */
}
.thead-light{
    background-color: #D0D4DD;
}
tbody, tr{
    text-align: right;
}
th{
    border-right: 1px solid black;
    /* text-align: left; */
}
.table{
    padding-bottom: 0px;
}
#view{
    text-align: left;
}
.tal{
    text-align: left;

}

.red{
    font-weight: normal;
    color: purple;
    padding-left: 25px;
    /* font-family: 'Times New Roman', Times, serif; */
}
.plusSign{
    color: green;
    background-color: white;
}
.minusSign{
    color: red;
    background-color: white;
    margin-left: 15px;
}
/* #binoculars{
    width: 200%;
    height: 200%;
} */